/************************************************************
						Page Styles
************************************************************/
#clientlogin_notif {
	background: url('../img/notif_gadges.png') no-repeat center top;
}

#notifs_icon_wrapper {
	width: 225px !important
}

#clientlogin_notif_wrapper {
	width:340px
}

#clientlogin_notif.open_notifs { 
	background-color: #FFFFFF;
	border: 1px solid #000000;
	position: relative;
	display: block;
	background-position:center bottom;
}

#clientlogin_notif .dropdown_clientlogin_link{
	float:none!important;
}

#clientlogin_notif .panel-heading {
    border-bottom: 1px solid transparent;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    padding: 10px 15px;
}

#clientlogin_notif .clientlogin_search {
	border-bottom: 1px solid #e5e5e5;
    display: block;
}

#clientlogin_notif .clientlogin_quick_access {
	margin-top:10px;
	border-bottom: 1px solid #e5e5e5;
}

#clientlogin_notif .clientlogin_history_list {
	margin-top:10px;
}

#clientlogin_notif .clientlogin_search_input {
    padding: 10px 0;
}

#clientlogin_notif  input#clientlogin_search {
	width:100%;
	font-size: 12px;
    padding: 6px 8px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	margin: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}