/************************************************************
						Page Styles
************************************************************/
#header_notifs_icon_wrapper .clientlogin_search {
	border-bottom: 1px solid #ccc;
    display: block;
}

#header_notifs_icon_wrapper .clientlogin_search_input{
	padding:10px;
}

#header_notifs_icon_wrapper .clientlogin_history_list{
    border-bottom: 1px solid #ccc;
    margin: 0;
}

#header_notifs_icon_wrapper .clientlogin_history_list h3 {
    border-bottom: 1px solid #ccc;
    font-size: 1.3em;
    margin: 0;
	padding: 10px;
}

#header_notifs_icon_wrapper .clientlogin_quick_access{
    border-bottom: 1px solid #ccc;
    margin: 0;
}

#header_notifs_icon_wrapper .clientlogin_quick_access h3 {
    border-bottom: 1px solid #ccc;
    font-size: 1.3em;
    margin: 0;
	padding: 10px;
}

#clientlogin_search_result {
	
}

.clientlogin_line {
	box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.05); 
}

#clientlogin_search_result .panel-heading:hover {
	background-color:#fcfdfe; 
}

#clientlogin_quick_access_result .panel-heading:hover {
	background-color:#fcfdfe; 
}

#clientlogin_history_result .panel-heading:hover {
	background-color:#fcfdfe; 
}

.clientlogin_search .no_results{
    display: block;
	color: #999;
	padding: 5px 15px 10px;
    text-align: center;
}