/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 11 janv. 2018, 17:13:25
    Author     : c.baron
*/
@import "compass";
@import "theme_variables";

#hel_rgpd{
  margin-top:15px;
  .block{
    border: 1px solid $blue-grey;
    border-radius:2px;
    .title{
      border-bottom: 1px solid $blue-grey;
      background:$light-grey;
      color:$turquoise-green;
      padding: 5px 10px;
    }
    .content{
      padding: 5px 10px;
    }
    .fade{
      display:none;
      transition: opacity 0.5s linear;
    }
    .fade.in{
      transition: opacity 0.5s linear;
      display:table-row-group;
    }
    .nav-tabs>li.active>a{
      border-bottom-color: #ddd;
    }
  }
  .hel_rgpd_traitement{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    .change_consent{
      margin-bottom:9px;
      color:$dark-grey;
      a{
        margin-left:10px;
      }
    }
  }
  .hel_rgpd_content{
    text-align:center;
    button{
      margin:10px;
    }
    div{
      text-align:left;
      padding:10px 10px 0 10px;
    }
  }
}

#hel_rgpd_form{
  padding:15px 10px 5px 10px;
  border: 2px solid $blue-grey;
  border-radius:2px;
  background:$light-grey;
  margin-bottom:20px;

  .consentement{
    padding-left:10px;
  }
  .lien_detail a{
    color:$turquoise-green;
  }

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 15px;
  margin-bottom:0;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

div.checked + .slider {
  background-color: $turquoise-green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $turquoise-green;
}

div.checked + .slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}

i.green{
  color: $green;
}

i.red{
  color: $red;
}