<div id="color_1_1_3_edit" align="center" style="background-colo:#2A374E">
                <input id="color_picker_1_1_3_edit" class="color" name="color_picker_1_1_3" value="2A374E" />
                <table  cellpadding="0" cellspacing="0" border="0">
                    <tbody>
                        <tr>
                            <td class="w640"  width="640" height="10"></td>
                        </tr>

                        <tr>
                            <td align="center" class="w640"  width="640" height="20"></td>
                        </tr>
                        <tr>
                            <td class="w640"  width="640" height="10"></td>
                        </tr>


                        <!-- entete -->
                        <tr class="pagetoplogo">
                            <td id="color_1_2_3_edit" bgcolor="#F2F0F0">
                                <table cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr><td colspan="3"><input id="color_picker_1_2_3_edit" class="color" name="color_picker_1_2_3" value="F2F0F0" /></td></tr>
                                        <tr>
                                            <td class="w30"  width="30"></td>
                                            <td  class="w580"  width="580" valign="middle" align="center">
                                                <div class="pagetoplogo-content">
                                                    <center><a href="%SHOP_LINK%" target="_blank"><img  style="text-decoration: none; display: block; color:#476688; font-size:30px;max-height:200px;" src="http://localhost/rgpd_demo/prestashop/img/demorgpd-logo-1526393872.jpg" alt="%SHOP_NAME%"/></a></center>
                                                </div>
                                            </td>
                                            <td class="w30"  width="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <!-- separateur horizontal -->
                        <tr>
                            <td  class="w640"  width="640" height="1" bgcolor="#d7d6d6"></td>
                        </tr>

                         <!-- contenu -->
                        <tr class="content">
                            <td id="color_1_3_3_edit" class="w640" class="w640"  width="640" bgcolor="#FFFFFF">
                                <input id="color_picker_1_3_3_edit" class="color" name="color_picker_1_3_3" value="FFFFFF" />
                                <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0">
                                    <tbody>
                                        <tr>
                                            <td  class="w30"  width="30"></td>
                                            <td  class="w580"  width="580">
                                                <!-- une zone de contenu -->
                                                <table class="w580"  width="580" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                        <tr>
                                                            <td class="w580"  width="580">
                                                                <textarea name="center_1_1_3" id="tpl1_center_1_3_edit"></textarea>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- fin zone -->
                                            </td>
                                            <td class="w30" class="w30"  width="30"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <!--  separateur horizontal de 15px de  haut-->
                        <tr>
                            <td class="w640"  width="640" height="1" bgcolor="#ffffff"></td>
                        </tr>

                        <!-- pied de page -->
                        <tr class="pagebottom">
                            <td id="color_1_4_3_edit" class="w640"  width="640" bgcolor="#C7C7C7">
                                <table class="w640"  width="640" cellpadding="0" cellspacing="0" border="0" >
                                    <tbody>
                                        <tr><td colspan=3><input id="color_picker_1_4_3_edit" class="color" name="color_picker_1_4_3" value="C7C7C7" /></td></tr>
                                        <tr>
                                            <td colspan="5" height="10"></td>
                                        </tr>
                                        <tr>
                                            <td class="w30"  width="30"></td>
                                            <td class="w580"  width="580" valign="top">
                                                <textarea name="center_1_2_3" id="tpl1_center_2_3_edit"><table>
<tbody>
<tr>
<td colspan="8"><span size="2" style="font-size: small;"><b>100% satisfaction guarantee: </b></span></td>
</tr>
<tr>
<td><img src="http://localhost/rgpd_demo/prestashop/modules/cartabandonmentpro/img/picto/Livraison.png" /></td>
<td><b>Fast delivery</b></td>
<td><img src="http://localhost/rgpd_demo/prestashop/modules/cartabandonmentpro/img/picto/Secure_Paiement.png" /></td>
<td><b>Secure paiement</b></td>
<td><img src="http://localhost/rgpd_demo/prestashop/modules/cartabandonmentpro/img/picto/Satisfied.png" /></td>
<td><b>Satisfied or refunded</b></td>
<td><img src="http://localhost/rgpd_demo/prestashop/modules/cartabandonmentpro/img/picto/SAV.png" /></td>
<td><b>After-sales service</b></td>
</tr>
</tbody>
</table></textarea>
                                            </td>

                                            <td class="w30"  width="30"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5" height="10"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="w640"  width="640" height="60"></td>
                        </tr>
                    </tbody>
                </table>
            </center></div>